body{
    background-image:url("luas.jpeg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(149, 7, 7);
    text-transform: capitalize;
}
#meucanvas2{
    background-color: whitesmoke;
    border: 3px solid black;
}